/*Web_layout*/
header{
    color: bisque;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    background-color: brown;
}

nav{
    font-size: 30px;
}

a{
    color: burlywood;
}

a:hover{
    color: aliceblue;
}

html{
    background-color: coral;
}

p{
    font-size: larger;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    background-color: goldenrod;
    font-size: 30px;
}

p{
    font-style: normal;
}

footer{
    text-align: center;
    background-color: darkgray;
}

#footer{
    color: black;
}

div{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
}

#policy{
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: solid black;
    border-right: solid black;
}

li{
    list-style: none;
    width: 200px;
    padding: 10px;
}